<div class="border border-3 border-dark rounded bg-light text-center p-3">
    <div class="row">
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>1<br /><small>&nbsp;</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>2<br /><small>ABC</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>3<br /><small>DEF</small></strong>
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>4<br /><small>GHI</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>5<br /><small>JKL</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>6<br /><small>MNO</small></strong>
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>7<br /><small>PQRS</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>8<br /><small>TUV</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>9<br /><small>WXYZ</small></strong>
        </div>
    </div>
    <div class="row">
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong><i class="fa-solid fa-asterisk"></i><br /><small>&nbsp;</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong>0<br /><small>&nbsp;</small></strong>
        </div>
        <div class="col border border-dark border-2 rounded-circle p-2 m-2">
            <strong><i class="fa-solid fa-hashtag"></i><br /><small>&nbsp;</small></strong>
        </div>
    </div>
</div>