<div class="border border-primary border-5 rounded-3 my-3 bg-primary bg-opacity-10 p-3">
    <h2 class="text-center">{{question}}</h2>
    <div class="input-group input-group-lg my-3">
        <input type="text" class="form-control" placeholder="Answer Here" [formControl]="answerControl" />
        <button class="btn btn-primary" type="button" (click)="validateAnswer()">Submit</button>
    </div>
    <ng-container *ngFor="let clue of displayedClues">
        <p class="text-center">{{clue}}</p>
    </ng-container>
</div>