<div class="container">
    <h1 class="text-center">Snowman Adventure</h1>

    <div class="my-5" [ngSwitch]="currentPage">
        <ng-container *ngSwitchCase="availablePages.Intro">
            <p class="text-center">
                I suppose it all started with the snow. You see, it's a very special kind of snow. 
                A snow to make the happy happier and the giddy even giddier. A snow to make a 
                homecoming homier and natural enemies friends, naturally. For it was the first 
                snow of the season. And as any child can tell you, there's a certain magic to the 
                very first snow, especially when it falls on the day before Christmas. For when 
                the first snow is also a Christmas snow, well, something wonderful is bound to 
                happen!
            </p>
            <h3 class="text-center">Let's build a snowman!</h3>
            <app-build-snowman></app-build-snowman>
            <app-enter-solution
                [question]="questions[0]"
                [answer]="answers[0]"
                [validation]="answerValidation[0]"
                [clues]="clues[0]"
                (puzzleSolved)="continue()"
            ></app-enter-solution>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.Hats">
            <p class="text-center">
                That&apos;s right, he&apos;s missing a hat! You search for a hat for the snowman and find 
                several hats. One of these hats is a magic hat, but no one remembers which one it 
                is. Everyone remembers a different detail about the magic hat.
            </p>
            <app-pick-hat (hatFound)="continue()"></app-pick-hat>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.Thermometer">
            <p class="text-center">
                When the magic hat is placed on his head, the snowman comes alive and starts to 
                talk. &quot;Happy birthday! Hey, I said my first words... But snowmen can&apos;t 
                talk. Alright, come on now, what&apos;s the joke? Could, could I really be alive? I 
                mean, I can make words, I can move. I can juggle, I can sweep, I can count to ten. 
                One, two, three, four, five, nine, six, eight... Well, I can count to five. What do 
                you know? I&apos;m even ticklish. In fact, I&apos;m all living. I am alive! What a 
                neat thing to happen to a nice guy like me.&quot;
            </p>
            <p class="text-center">
                You and your friends decide to play with your new friend, the snowman. You go 
                sledding together. You make snow angels. You have a snowball fight. After a while, 
                the snowman looks worried. &quot;I'm feeling hot. Is there a thermometer around 
                here?&quot;
            </p>
            <h3 class="text-center">Is it hot or cold?</h3>
            <p class="text-center" *ngIf="thermometerShowClue">What does it mean when the thermometer is mostly red?</p>
            <div class="row">
                <div class="col text-center">
                    <img src="/assets//snowman/thermometer.png" class="img-fluid" />
                </div>
                <div class="col d-grid">
                    <button type="button" class="btn btn-lg btn-danger" (click)="continue()">
                        <i class="fa-solid fa-sun fa-2xl"></i><br />
                        <br />
                        Getting hot here
                    </button>
                </div>
                <div class="col d-grid">
                    <button type="button" class="btn btn-lg btn-info" (click)="showThermometerClue()">
                        <i class="fa-solid fa-snowflake fa-2xl"></i><br />
                        <br />
                        So cold and shivery
                    </button>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.Map">
            <p class="text-center">
                The snowman is starting to sweat and sounds nervous. &quot;Oh, I was afraid of 
                that. When the thermometer gets all reddish, the temperature goes up. And when the 
                temperature goes up, I start to melt. And when I start to melt... I get all wishy
                washy! The only place I&apos;d never melt is the North Pole.&quot;
            </p>
            <p class="text-center">
                You decide to take the snowman to the train station so he can go to the North Pole. 
                On the way there, you realize that you forgot to name the snowman. Find a way 
                through town to the train station and figure out the snowman's name.
            </p>
            <app-town-map></app-town-map>
            <app-enter-solution
                [question]="questions[1]"
                [answer]="answers[1]"
                [validation]="answerValidation[1]"
                [clues]="clues[1]"
                (puzzleSolved)="continue()"
            ></app-enter-solution>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.Fire">
            <p class="text-center">
                You bring Frosty to the train station. When you arrive, you realize that none of 
                you brought any money. You'll have to be sneaky to get on the train. Frosty and you 
                slip into a refrigerated boxcar heading north. It's full of ice cream and frozen 
                Christmas cakes. Now, a refrigerated boxcar is a splendid way to travel. Splendid 
                that is... if one is a snowman. People, on the other hand, get dangerously cold. So 
                when the little freight train stopped to let an express train full of happy 
                Christmas travelers pass, everyone took advantage of teh opportunity and quickly 
                got off.
            </p>
            <p class="text-center">
                You come upon a tiny glen which seems almost magical. For it&apos;s Christmas Eve, 
                and the woodland animals are all decorating for their big celebration. They know 
                Santa is to come that night, and they wanted everything to be jsut right. The 
                animals are delighted to help all of you get warm. The animals bring lots of sticks 
                to a spot away from the glen so the fire wouldn't spread to the trees.
            </p>
            <p class="text-center">
                Soon there was a spark, and in no time a splendid fire is crackling away. While the 
                fire is being lit, the sun goes down, and it gets even colder. The fire helps, but 
                it isn't enough to keep everyone warm in the cold winter wind. Fortunately, the 
                light from the fire reflects off windows from further in the trees.
            </p>
            <app-picture-puzzle [pieces]="firePuzzlePieces"></app-picture-puzzle>
            <app-enter-solution
                [question]="questions[2]"
                [answer]="answers[2]"
                [validation]="answerValidation[2]"
                [clues]="clues[2]"
                (puzzleSolved)="continue()"
            ></app-enter-solution>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.Phone">
            <p class="text-center">
                Right at the bottom of the hill was a tiny greenhouse used to grow precious 
                tropical poinsettias for Christmas. Frosty says, "It&apos;s got to be all warm and 
                snug inside for those Christmas flowers to grow so beautiful. Let&apos;s go in. 
                I&apos;ll only stay inside for a minute. Besides, I&apos;ve been meaning to take 
                off a little weight anyway."
            </p>
            <p class="text-center">
                Once everyone is inside, the wind blows the door shut. You try to open it, but 
                it&apos;s locked. Oh no! We need someone to help us get out of the greenhouse 
                before Frosty melts, and we still need to get him to the North Pole.
            </p>
            <p class="text-center">
                You search through the greenhouse and find a phone, but someone cut up the phone book. 
            </p>
            <app-phone-puzzle (calledSanta)="continue()"></app-phone-puzzle>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.Lock">
            <p class="text-center">
                You reach Santa Claus on the phone. He promises to help, but he is in the middle of 
                delivering presents and won&apos;t be there until morning. Meanwhile, Frosty is 
                melting fast. You&apos;ll have to figure out how to open the greenhouse door 
                yourself. Maybe you can find some clues by looking around.
            </p>
            <div class="text-center my-2">
                <img class="img-fluid" src="/assets//snowman/greenhouse.jpg" />
            </div>
            <p class="text-center">The lock has a <strong>4</strong> digit combination and is decorated with the following pictures:</p>
            <div class="row">
                <div class="col-3 offset-md-4 col-md-1">
                    <img class="img-fluid" src="/assets//snowman/lock_1.png" />
                </div>
                <div class="col-3 col-md-1">
                    <img class="img-fluid" src="/assets//snowman/lock_2.png" />
                </div>
                <div class="col-3 col-md-1">
                    <img class="img-fluid" src="/assets//snowman/lock_3.png" />
                </div>
                <div class="col-3 col-md-1">
                    <img class="img-fluid" src="/assets//snowman/lock_4.png" />
                </div>
            </div>
            <app-enter-solution
                [question]="questions[3]"
                [answer]="answers[3]"
                [validation]="answerValidation[3]"
                [clues]="clues[3]"
                (puzzleSolved)="continue()"
            ></app-enter-solution>
        </ng-container>
        <ng-container *ngSwitchCase="availablePages.End">
            <p class="text-center">
                Santa arrives to a terrible sight. You were just a little too slow unlocking the 
                greenhouse, and Frosty completely melted. Santa is undeterred. &quot;Too late? 
                Why, nonsense!&quot;, he says. &quot;He&apos;s not gone for good. You see, he was 
                made out of Christmas snow, and Christmas snow can never disappear completely. Oh, 
                it sometimes goes away for almost a year at a time and takes the form of spring and 
                summer rain, but you can bet your boots that when a good jolly December wind kisses 
                it, it will turn into Christmas snow all over again!&quot;
            </p>
            <p class="text-center">
                Santa holds the greenhouse door open for the wind to blow in. Frosty reforms and 
                the wind lifts the magic hat up onto his head, bringing him back to life. 
            </p>
            <p class="text-center">
                Santa takes you home and prepares to bring Frosty back to the North Pole. As Santa 
                promised, Frosty returned every year with the magical Christmas snow. And every 
                year, there was a great celebration with a great Christmas parade. And with Frosty 
                the Snowman, Christmas was always very merry indeed. You have a merry Christmas, too!
            </p>
            <div class="row">
            <div class="text-center col-md-2 offset-md-5">
                <img class="img-fluid" src="/assets//snowman/reward.png" />
            </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchDefault>
            <div class="alert alert-danger text-center">
                <h2>Something's not working</h2>
            </div>
        </ng-container>
    </div>

    <p class="text-center my-3"><small>
        Inspired by <a target="_blank" href="https://en.wikipedia.org/wiki/Frosty_the_Snowman_(TV_special)">
            Frosty the Snowman
        </a>
    </small></p>

    <div class="row">
        <div class="d-grid col-6 mx-auto my-3">
            <button type="button" class="btn btn-primary" routerLink="/">Back to Escape Room List</button>
        </div>
    </div>
</div>