<div class="row">
<img class="col-2" src="assets/snowman/maze_start.jpg" />
</div>

<table class="table text-center">
    <tbody>
        <tr>
            <td class="border border-5 border-dark border-top-0 border-end-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"><h4>F</h4></td>
            <td class="border border-5 border-dark border-end-0"><h4>S</h4></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"><h4>F</h4></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"></td>
        </tr>
        <tr>
            <td class="border border-5 border-dark border-top-0 border-bottom-0"><h4>T</h4></td>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark- border-start-0 border-bottom-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-top-0 border-end-0"><h4>Y</h4></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-bottom-0 border-end-0"><h4>O</h4></td>
            <td class="border border-5 border-dark border-start-0 border-top-0"></td>
            <td class="border border-5 border-dark border-top-0"><h4>T</h4></td>
        </tr>
        <tr>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-top-0 border-bottom-0"><h4>R</h4></td>
            <td class="border border-5 border-dark border-top-0 border-bottom-0"><h4>O</h4></td>
            <td class="border border-5 border-dark border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"><h4>R</h4></td>
            <td class="border border-5 border-dark border-bottom-0 border-end-0"><h4>T</h4></td>
            <td class="border border-5 border-dark border-start-0 border-top-0"></td>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"><h4>R</h4></td>
        </tr>
        <tr>
            <td class="border border-5 border-dark border-bottom-0 border-end-0"><h4>R</h4></td>
            <td class="border border-5 border-dark border-start-0 border-top-0"></td>
            <td class="border border-5 border-dark border-top-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-top-0"></td>
            <td class="border border-5 border-dark border-top-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-bottom-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-bottom-0"></td>
            <td class="border border-5 border-dark border-bottom-0 border-end-0"><h4>T</h4></td>
            <td class="border border-5 border-dark border-start-0 border-top-0 border-bottom-0"></td>
        </tr>
        <tr>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0"></td>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"><h4>O</h4></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-top-0"><h4>S</h4></td>
            <td class="border border-5 border-dark border-top-0 border-end-0"></td>
            <td class="border border-5 border-dark border-start-0 border-top-0"></td>
            <td class="border border-5 border-dark border-top-0 border-bottom-0"><h4>Y</h4></td>
        </tr>
    </tbody>
</table>

<div class="row">
<img class="col-3 offset-9" src="assets/snowman/maze_end.png" />
</div>